<div id="gallery" class="gallery container-fluid">
</div>

<script src="js/layout.js"></script>
<script>

var urlAll = [];

<% for(var i in histroy ) { %>
    urlAll.push("<%=histroy[i].url%>");
<% } %>

React.renderComponent(React.createElement(All, { url:urlAll }), document.getElementById('gallery'));

</script>

