<div id="gallery" class="gallery container-fluid">
</div>
<div id="galler-colorbox">
    <div class="image-view">
        <img src="">
    </div>
</div>
<script src="js/build/layout.js"></script>
<script>

var urlAll = [];

<% for(var i in histroy ) { %>
    urlAll.push("<%=histroy[i].url%>");
<% } %>

React.render(React.createElement(All, { url:urlAll }), document.getElementById('gallery'));
</script>
